*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Raleway", sans-serif;
}

html {
    scroll-behavior: smooth;
  }
  
  p {
    line-height: 3;
  }

h4{
        margin: 8px 0;
        background: white;
        width:230px;
        padding: 8px;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
  }

header{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../Images/Background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    float:right;
    list-style-type: none;
    margin-top: 0px;
    margin-right: 50px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #000000;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: lightgray;
    color: #000;
}

.logo img{
    float: left;
    height: 70px;
    margin-left: 100px;
    margin-top: 0px;
}

.main{
    max-width:fit-content ;
    margin:auto;
    position: fixed;
    width:100%;
    height:80px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    z-index: 1000;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1{
    color: #fff;
    font-size: 70px;
}




  /*For Content*/

  
  h4 {
    margin: 0 auto;
    background: black;
    color: #f76f09;
    width:300px;
    padding: 8px;
    text-align: center;
  }




 
 /* Footer */

footer {
  background:whitesmoke;
  color:black;
  text-align: center;
  padding: 16px;
}
